_build
.vscode
temporaryFile.py
mbox-short.txt
mbox.txt
romeo.txt
words.txt
sample-data.txt
actual-data.txt
socket1.py
googleapi.py
__pycache__/googleapi.cpython-39.pyc
py4e.db
py4e.sqbpro
singleTable.sqlite3